
<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>
  


<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/log_in.jpg');">
    <div class="container" id="sign-card">




        <form class="ps-form--signin" action="/forgot-password" method="post">
            <div class="ps-form__header">




                <h3>Forgot Password?</h3>

              <p>Enter your Email and we will send you a link to reset your<br> password</p>


              <%if(locals.display) {%>
                <% if(locals.emailNotFound){ %>
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong style="text-align: center;color:red;">Email not found! Enter a valid Email.</strong>
                          </div>
                <% }else{ %>
                <% if(!locals.emailSent){ %>
                    <div class="alert alert-success" role="alert">
                        <strong>Password reset link has been sent your email</strong>
                    </div>
                <% }else{%>
                    <div class="alert alert-success" role="alert">
                        <strong>Password reset link has been sent your email</strong>
                    </div>
                <% } %>
            <% } } %>


            </div>
            <div class="ps-form__content">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email"
                        required="required" />
                </div>
                
            </div>
           
            <div class="ps-form__footer">
                <button type="submit"  id="btnsend" name="btnsend"class="ps-btn ps-btn--fullwidth ps-btn--gradient">Send Email</button>
                
            </div>
        </form>
    </div>
</div>
<script src="/vendors/plugins/jquery-1.12.4.min.js"></script>
<script src="/vendors/plugins/bootstrap4/js/bootstrap.min.js"></script>

<%include ../layout/footer-public.ejs %>