<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>


<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/log_in.jpg');">
    <div class="container" id="sign-card">
        <form class="ps-form--signin" action="/reset-password" method="post">
            <% if(!locals.correct){ %>
                <div class="alert alert-danger" role="alert">
                    <strong>Invalid token</strong>
                </div>
            <% }else{%>
            <% } %>
            <% if(locals.display) {%>
                <% if(locals.changed){ %>
                    <p style="text-align: center;font-weight: bold;font-size: 20px;">Congratulations</p>
                    <p style="text-align: center;">Password has been successfully changed. Click to <a href="/login">here</a> to login </p>
                <% }else{ %>
                    <div class="alert alert-danger" role="alert">
                        <strong>Error changing password</strong>
                    </div>
            <% }
            }%>
            <% if(locals.changed){ }else{%>
            <div class="ps-form__header">
                <h3>Reset Password</h3>
                <p>Resetting your password will log you out of all devices you have previously used to log in</p>
            </div>

            <div class="ps-form__content">
                <div class="form-group">
                    <input type="email" name="email" id="email" value="<%=locals.email%>" class="form-control input-lg" placeholder="Email Address" tabindex="1" required hidden />
                        <input type="password" autocomplete="off" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" title="Password must contain at least 8 characters, including UPPER/lowercase and numbers"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                               onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                            if(this.checkValidity()) form.conpassword.pattern = RegExp.escape(this.value);" required/>
                    <div id="strengthMessage"></div>
                </div>
                    <div class="form-group">
                        <input type="password" autocomplete="off" name="conpassword" id="conpassword" class="form-control input-lg" placeholder="Confirm Password" tabindex="8"
                               title="Please enter the same Password as above" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                               onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');" required/>
                        <div id="matchMessage"></div>
                </div>
            </div>

            <div class="ps-form__footer">
             
                <input type="submit" value="Reset" id="btnreset" name="btnreset" class="ps-btn ps-btn--fullwidth ps-btn--gradient">
      
             </div>

            <% } %>
        </form>
    </div>
</div>
<script src="/vendors/plugins/jquery-1.12.4.min.js"></script>
<script src="/vendors/plugins/bootstrap4/js/bootstrap.min.js"></script>
<script src="/jscontroller/validation.js"></script>

