<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>


<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/signup-2.jpg'); ">
    <div class="container" style="padding:83px";>
        <div class="row">
            <div class="col-md-12 col-lg-5 mb-5" style="margin: auto;">
                <form action="#" method="post" class="p-5 bg-white">
                    <p style="text-align: center;font-weight: bold;font-size: 20px;">Password Reset Successful</p><br>
                    <p style="text-align: center;">You have successully changed your password. <a href="/login">Click to log in</a></p> 
                </form>
            </div>    
        </div>
    </div>
</div>
<% include ../layout/footer-public.ejs %>