<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>



 <div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/signup-2.jpg');">
     <div class="container" id="sign-card">
      
         <form class="ps-form--signin" action="" method="post">
             <div class="ps-form__header">
                 <h3>Individual Account</h3>

             </div>
             <div class="ps-form__content">

                 <!-- <div class="form-group">
                     <input class="form-control" type="text" name="first_name" value="" placeholder="First name"
                         required="required" />
                 </div>
                 <div class="form-group">
                     <input class="form-control" type="text" name="last_name" value="" placeholder="Last name"
                         required="required" />
                 </div> -->
                 <div class="form-group">
                     <input class="form-control" type="email" name="email" value="" placeholder="Email"
                         required="required" />
                 </div>

                 <div class="form-group">
                     <input class="form-control" type="password" name="password" minlength="8" value=""
                         placeholder="Password" required="required" />
                 </div>
                  <div class="form-group">
                      <input class="form-control" type="password" name="password" minlength="8" value=""
                          placeholder="Confirm Password" required="required" />
                  </div>

                 <div class="ps-select-role row justify-content-center">

                     <div class="form-group" id="">
                         <input type="radio" id="client" name="role" value="client">
                         <label for="client">Client</label>
                     </div>
                     <div class="form-group">
                         <input type="radio" id="freelancer" name="role" value="freelancer">
                         <label for="freelancer">Freelancer</label>
                     </div>


                 </div>



                 <!--p><i class="fa fa-shield"></i> Your password must be at least 8 characters long.</p-->


             </div>
             <div class="ps-form__footer">
                  <p>By signing up,you confirm that you accept Connect <br> <a href="#">Terms and Conditions </a> and
                      <a href="#">Privacy Policy </a></p>
                 <button name="register_user" class="ps-btn ps-btn--fullwidth ps-btn--gradient">Sign up</button>
                 <p>Already a member?<a href="/login"> Log In</a></p>
                
                
             </div>
         </form>

     </div>
 </div>



<% include ../layout/footer-public.ejs %>
<script src="/jscontroller/validation.js"></script>