<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>



 <div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/signup-2.jpg'); padding: 60px 0; ">
     <div class="container" id="sign-card" style="padding: 25px 0;">
      
         <form class="ps-form--signin" action="" method="post">
             <div class="ps-form__header">
                 <h3>Individual Account</h3>

             </div>
             <div class="ps-form__content">

                 <div class="form-group">
                     <div class="col-md-12">
                         <input class="form-control" type="email" name="email" value="" placeholder="Email"
                                required="required" />
                     </div>
                 </div>

                 <div class="form-group">
                     <div class="col-md-12">
                        <input class="form-control" type="password" name="password" minlength="8" value=""
                         placeholder="Password" required="required" />
                     </div>
                 </div>
                  <div class="form-group">
                      <div class="col-md-12">
                         <input class="form-control" type="password" name="password" minlength="8" value=""
                          placeholder="Confirm Password" required="required" />
                      </div>
                  </div>

                 <div class="ps-select-role row justify-content-center">

                     <div class="form-group" id="">
                         <input type="radio" id="client" name="role" value="client">
                         <label for="client">Client</label>
                     </div>
                     <div class="form-group">
                         <input type="radio" id="freelancer" name="role" value="freelancer">
                         <label for="freelancer">Freelancer</label>
                     </div>


                 </div>



                 <!--p><i class="fa fa-shield"></i> Your password must be at least 8 characters long.</p-->


             </div>
             <div class="ps-form__footer">

                 <p>By clicking <a href="/signup">Sign Up</a>,you agree to the <a href="#">Terms and Conditions </a> and<br>
                      <a href="#">Privacy Policy </a></p>
                 <div class="col-md-12">
                     <button name="register_user" class="ps-btn ps-btn--fullwidth ps-btn--gradient">Sign up</button>
                 </div>
                 <p>Already a Member?<a href="/login"> Log In</a></p>
                
                
             </div>
         </form>

     </div>
 </div>





<script src="/jscontroller/validation.js"></script>
