<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<style>
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/signup-2.jpg'); ">
    <div class="container" style="padding:83px";>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-5 mb-5" style="margin: auto;">
                <form action="#" method="post" class="p-5 bg-white">
                    <%if(verify === "success"){%>
                        <img src="../../vendors/img/Icon feather-check-circle.png" style="width: 30px;height: 30px;">
                        <p style="text-align: center;font-weight: bold;font-size: 20px;">Account Verification Successful</p>
                        <p style="text-align: center;">You're all set! Log in now to experience the best of all that Connect offers.</p><br>
                        <p name="login-user" class="ps-btn ps-btn--fullwidth ps-btn--gradient"><a href="/login">Log In</a></p>
                    <% }else{ %>
                        <h4 style="text-align: center;font-weight: bold;">Error</h4>
                        <p style="text-align: center;"><%=verify%></p>
                    <% } %>
                </form>
            </div>    
        </div>
    </div>
</div>
<script src="/vendors/plugins/jquery-1.12.4.min.js"></script>
<script src="/vendors/plugins/bootstrap4/js/bootstrap.min.js"></script>