
<div class="row pt-4" style="padding-left: 5rem; padding-right: 5rem;">
    <div class="col-md-9 m-auto">
        <div class="form-row mt-4">
            <div class="form-group col-md-12">
                <label for="Category">Category</label>
                <div class="select-wrapper"><span class="autocomplete-select"></span>
                </div>
            </div>
        </div>
    </div> 
</div>

<div class="row" style="padding-left: 5rem; padding-right: 5rem;">
    <div class="col-md-9 m-auto">
        <div class="form-row mt-4">
            <div class="form-group col-md-12">
                <label for="Skills">Skills</label>
                <select name="skills" id="skills" class="form-control"  multiple="multiple" style="display: none;">
                    <% skills.map(s =>{ %>
                    <option value="<%=s.name%>"><%=s.name%></option>
                    <% }); %>
                </select>
            </div>
        </div>
    </div> 
</div>
