<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<!--div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/log_in.jpg');">
    <div class="container" id="sign-card">
    <div class="card-header" style="background-color: #0C4767;">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" aria-disabled="true">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Skills & Experience</a>
        </li>
      </ul>
    </div>
    
         
    </div>
  </div>
</div-->
<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/signup-2.jpg'); height: 100%!important;">
    
   <div class="text-center">
    <h2>Add Profile</h2>
    <p>Your profile says a lot about you to clients. Complete your profile to get started on Connect!</p>
   </div>
    <div class="card" style="max-width:60%; margin:auto;margin-top: 10px;">
        <div class="individual-card-header" style="background-color: #0C4767; ">
          <h4>Personal Details</h4>
        </div>
        <form>
        <div class="individual-card-body" style="background-color: #fff; ">
            <div class="row pt-4" style="padding-left: 5rem; padding-right: 5rem;">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                           <img src="../../vendors/img/avatar.jpg" alt="Profile Photo" id="profile" width="150" height="150"> 
                        </div> 
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="left:13%;color:blue;">
                            <label >
                                <input hidden type="file" id="img" name="img" onchange="readURL(this)" value="Add Photo" accept="image/*">
                                Add Photo
                            </label>    
                        </div>

                    </div>
                  
                  
                </div>
                <div class="col-md-8">

                    <div class="form-row mt-4">
                        <div class="form-group col-md-6">
                          <label for="firstName">First Name</label>
                          <input type="text" class="form-control" id="fname" placeholder="">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="lastName">Last Name</label>
                          <input type="text" class="form-control" id="lname" placeholder="">
                        </div></div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="job">Job Title</label>
                            <input type="text" class="form-control" id="job" placeholder="">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="availability">Availability</label>
                            <select id="availabilityState" class="form-control">
                              <option selected>Part-time</option>
                              <option>Full time</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-row">
                            
                          <label for="about">Golden Paragraph</label>
                        </div>
                        <div class="form-row">
                            <textarea name="about" id="about" class="form-control" rows="2" placeholder="Write a personal summary here..."></textarea></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="dob">Date of Birth</label>
                              <input type="date"   max="2002-12-31" class="form-control" id="dob" placeholder="">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="gender">Gender</label>
                              <select id="gender" class="form-control">
                                <option selected>Male</option>
                                <option>Female</option>
                                <option>Rather Not Say</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCity">City</label>
                              <input type="text" class="form-control" id="inputCity" placeholder="Accra, Ghana">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="country">Country</label>
                              <input type="text" class="form-control" id="country" placeholder="">
                              <select name="Afghanistan" id="country"></select>
                            </div>
                            </div>
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="" readonly>
                              </div>
                              <div class="form-group col-md-6">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" placeholder="">
                              </div>
                              </div>
                      </div>
                      </div>
                </div>
            <div>  
            </div>
    
        </div>
    </div>
</form>
    
</div>
  <% include ../layout/footer-public.ejs %>