<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/profile_style.css" />
<link rel="stylesheet" type="text/css" href="/vendors/css/tags.css" />

<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/analog-camera-behind-computer-laptop-3773401.jpg'); padding-bottom: 900px; padding-top: 80px ">

    <div class="container" style="width: fit-content; height: max-content;">
            <div class="col-md-12">
                <div class="text-center justify-content-center">
                    <h2 style="color: #fff;">Add Skills and Experience</h2>
                    <p class="text-center " style="color: #fff;">Let clients know about your skills and experiences. This helps them know you are the right person fo rht e job</p>
                </div>
            </div>
            


    <div class="col-md-12">
        <div class="card justify-content-center">
            <div class="card text-white mb-3">

                <div class="card-header justify-content-center mb-3" style="background-color: #0c4767; height: 50px; padding: 0">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <p class="nav-item nav-link mr-5 ml-5 " id="nav-home-tab"    aria-selected="false">Personal Details</a>
                            <p class="nav-item nav-link mr-5 ml-5 " id="nav-contact-tab" aria-selected="true">Portfolio</a>
                                <p class="nav-item nav-link mr-5 ml-5 active" id="nav-contact-tab" aria-selected="true">Skills & Certificate</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                            <form action="/user/add-individual-skill" method="POST" class="form-row">
                                <input name="id" id="id" placeholder="" type="text" class="form-control" value="<%=user.id%>" hidden><br />
                                <div class="card-business ml-3 mt-1" >

                                    <div class="row pt-4" style="padding-left: 5rem; padding-right: 5rem;">
                                        
                                        <div class="col-md-9 m-auto">

                                            <div class="form-row mt-4">
                                                <p class="message"></p>
                                                <div class="form-group col-md-12">
                                                    <label for="Skills">Enter Skills Needed (5 max)</label>
                                                    <div class="tags-input" data-name="tagsinput">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-9">
                                                    <label for="name">Experience</label>
                                                    <input type="text" class="form-control" id="name" name="name" placeholder="Eg: www.connect.org">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="years">Years</label>
                                                   <select class="form-control" id="years" name="years">
                                                    <option value="Below 1" selected> Below 1</option>
                                                    <option value="Above 3" selected>Above 3</option>    
                                                    <option value="Below 5" selected>Above 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                                <div class="form-row justify-content-center">
                                                    <div class="col-md-12 mb-5">
                                                        <button type="submit" name="next" class="form-control profile-btn">NEXT</button>
                                                    </div>
                                                </div>        
                                        </div>
                                    </div>
        
                                    </div>
                                </div>

                                </div>
                            </form>
                        </div>
             
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>
<%include ../layout/footer-public.ejs %>
