<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/log_in.jpg');">
    <div class="container" id="sign-card">
    <div class="card-header" style="background-color: #0C4767;">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Personal Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" aria-disabled="true">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Skills & Experience</a>
        </li>
      </ul>
    </div>
    <div class="card-body" style="background-color: white;">
        <div class="container col-md-4">

        </div>
        <div>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="fname" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lname" placeholder="">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="job">Job Title</label>
                  <input type="text" class="form-control" id="job" placeholder="">
                </div>
                <div class="form-group col-md-6">
                  <label for="availability">Availability</label>
                  <select id="availabilityState" class="form-control">
                    <option selected>Part-time</option>
                    <option>Full time</option>
                  </select>
                </div>
              </div>
            <div class="form-group">
              <label for="about">Golden Paragraph</label>
              <textarea name="about" id="about" placeholder="Write a personal summary here..."></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dob">Date of Birth</label>
                  <input type="text" class="form-control" id="dob" placeholder="">
                </div>
                <div class="form-group col-md-6">
                  <label for="gender">Gender</label>
                  <select id="gender" class="form-control">
                    <option selected>Male</option>
                    <option>Female</option>
                    <option>Rather Not Say</option>
                  </select>
                </div>
              </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Accra, Ghana">
              </div>
              <div class="form-group col-md-4">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #0C4767;">NEXT</button>
          </form>
        </div> 
        
        <div class="container col-md-4">

        </div>
        <div hidden>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="fname" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lname" placeholder="">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="job">Job Title</label>
                  <input type="text" class="form-control" id="job" placeholder="">
                </div>
                <div class="form-group col-md-6">
                  <label for="availability">Availability</label>
                  <select id="availabilityState" class="form-control">
                    <option selected>Part-time</option>
                    <option>Full time</option>
                  </select>
                </div>
              </div>
            <div class="form-group">
              <label for="about">Golden Paragraph</label>
              <textarea name="about" id="about" placeholder="Write a personal summary here..."></textarea>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="dob">Date of Birth</label>
                  <input type="text" class="form-control" id="dob" placeholder="">
                </div>
                <div class="form-group col-md-6">
                  <label for="gender">Gender</label>
                  <select id="gender" class="form-control">
                    <option selected>Male</option>
                    <option>Female</option>
                    <option>Rather Not Say</option>
                  </select>
                </div>
              </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Accra, Ghana">
              </div>
              <div class="form-group col-md-4">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: #0C4767;">NEXT</button>
          </form>
        </div>

        <div hidden>
            <form>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="skills">Skills</label>
                    <input type="text" class="form-control" id="skills" placeholder="Type a skill and select the list">
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                      <label for="experience">Experience</label>
                      <input type="text" class="form-control" id="experience" placeholder="Eg. Web Designer">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="years">Years</label>
                      <select id="years" class="form-control">
                        <option selected>Below 1</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>More</option>
                      </select>
                    </div>
                  </div>
                <button type="submit" class="btn btn-primary" style="background-color: #0C4767;">SAVE</button>
              </form>
            </div>


    </div>
  </div>
</div>  
  <% include ../layout/footer-public.ejs %>