<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<style>
   progress {
    width: 210px;
    height: 7px;
    color: #A41201;
    background-color: #A41201;
    border-color: #A41201;  
}
progress::-webkit-progress-bar {
    width: 210px;
    height: 7px;
    color: #A41201;
    background-color: white;
    border-color: #A41201; 
}
progress::-webkit-progress-value {
    width: 210px;
    height: 7px;
    color: #A41201;
    background-color: #A41201;
    border-color: #A41201;  
}
progress::-moz-progress-bar {
    width: 210px;
    height: 7px;
    color: #A41201;
    background-color: #A41201;
    border-color: #A41201;
}
.unchecked {
  color: #0C4767;
}
h5{
    color: #A41201;
    font-size: 15px;
}
h3,h4{
    color: #0C4767;
}

</style>
    

<div class="site-section" style="background-color: #e8e8e8;" >
            <div class="row pt-4" style="padding-left: 5rem;">
                <div class="col-md-3 mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="image-border" src="../../vendors/img/profile-avatar.png" alt="Profile Photo" id="profile" width="250" height="150">
                            <div class="bottom"><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star"></span></div>
                        </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12" style="left:13%;color:#0C4767;">
                        <label >
                            <a href="../users/complete-individual-freelancer-profile" class="ps-btn ps-btn--fullwidth ps-btn--gradient" style="width: 250px;height: 10px;margin-left: 5px;">Edit Profile</a>
                        </label>    
                    </div>
                    </div>
                </div>


                <div class="col-md-5">
                    <div class="header">
                        <h3>Alex Owusu Amankwa</h3>
                        <p>UI/UX Designer</p>
                        <h5><i class="fa fa-map-marker-alt"></i>Takoradi, Ghana &nbsp; &nbsp; &nbsp; &nbsp; <i class="fa fa-clock"></i>Part-time</h5>
                      </div>

                      <div class="body">
                          But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and i will give
                          you a complete account of the system, and expound the actual teachings of the great explorer of truth, the master-builder 
                          of human happiness. No one rejects, dislikes or avoids pleasure itself, because it is pleasure, but because those who do not 
                          know how to pursue pleasure rationally encounter consequences that are extremely painful.
                      </div>
                </div>

                <div class="col-md-2">
                    <div class="header">
                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experience</h4>
                    </div>

                    <div class="body">
                        <ul>
                            <li>UI/UX Designer</li>
                            <p>2 years</p>
                            <li>Graphic Designer</li>
                            <p>2 years</p>
                            <li>Web Developer</li>
                            <p>2 years</p>
                            <li>Digital Marketer</li>
                            <p>2 years</p>
                        </ul>
                        <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;view all</a>
                    </div>
  
                  </div>

                  <div class="col-md-2">
                    <div class="header">
                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skills</h4>
                    </div>

                    <div class="body">
                       <ul>
                        <li>Adobe XD</li>
                        <li>Photoshop</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                       </ul>
                       <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;view all</a>
                    </div>
  
                  </div>
            </div>
        </div>

        <div class="site-section bg-light;" >
            <div class="row pt-4" style="padding-left: 5rem; padding-right: 5rem;">
                <div class="col-md-12">
                    <div class="header">
                        <h4>Reviews</h4>
                      </div>
        
                      <div class="body">
                          <div class="row">
                          <div class="col-md-3">
                              <h5>Clement Koomson
                                <span class="fa fa-star checked" style="size: 2px;"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                               
                              <p>I loved working with Alex. His attention to detail is his best quality.</p>
                          </div>
                          <div class="col-md-3">
                            <h5>Clement Koomson
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star unchecked"></span>
                              <span class="fa fa-star unchecked"></span>
                            </h5>
                            <p>I loved working with Alex. His attention to detail is his best quality.</p>
                        </div>
                        <div class="col-md-3">
                            <h5>Clement Koomson
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </h5>
                            <p>I loved working with Alex. His attention to detail is his best quality.</p>
                        </div>
                        <div class="col-md-3">
                            <h5>Clement Koomson
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                            </h5>
                            <p>I loved working with Alex. His attention to detail is his best quality.</p>
                        </div>
                    </div>
                        
                        <a href="#">view all</a>
                      </div>
                </div>
        
                 
            </div>
        </div>

<div class="site-section" style="background-color: #e8e8e8;">
    <div class="row pt-4" style="padding-left: 5rem; padding-right: 5rem;">


        <div class="col-md-3">
            <div class="header">
                <h4>Rating</h4>
              </div>

              <div class="body">
                <label for="prog">Programming &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp95%</label><br>
                    <progress id="prog" value="95" max="100"> 95% </progress><br>
                <label for="create">Creativity &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp90%</label><br>
                    <progress id="create" value="90" max="100"> 90% </progress><br>
                <label for="pOutcome">Project Outcome &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp100%</label><br>
                    <progress id="pOutcome" value="100" max="100" style="color: #A41201;"> 100% </progress><br>
                <label for="comm">Communication&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp95%</label><br>
                    <progress id="comm" value="95" max="100"> 95% </progress>
              </div>
        </div>

        <div class="col-md-9">
            <div class="header">
                <h4>Portfolio</h4>
            </div>

            <div class="body">
                <div class="row">
                <div class="col-md-3">
                    <img class="image-border" src="../../vendors/img/profile-avatar.png" alt="Profile Photo" id="profile" width="120" height="120">
                    <div class="bottom-right">Bottom</div>
                </div>

                <div class="col-md-3">
                    <img class="image-border" src="../../vendors/img/profile-avatar.png" alt="Profile Photo" id="profile" width="120" height="120">
                    <div class="bottom-right">Bottom</div>
                </div>

                <div class="col-md-3">
                    <img class="image-border" src="../../vendors/img/profile-avatar.png" alt="Profile Photo" id="profile" width="120" height="120">
                    <div class="bottom-right">Bottom</div>
                </div>

                <div class="col-md-3">
                    <img class="image-border" src="../../vendors/img/profile-avatar.png" alt="Profile Photo" id="profile" width="120" height="120">
                    <div class="bottom-right">Bottom</div>
                </div>
            </div>
                
            </div>

          </div>
    </div>
</div>

<%include ../layout/footer-public.ejs %> 