
<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<style>

    .container-connect-dashboard{
        height: fit-content;
        
    }
    .card-header-dashboard {
        width: 100%;
        background-color: #0c4767;
        height: 50px;
    }


    .card-body-dashboard  {
        background-color: #ffffff;
        border: 1px solid black ;
        margin: 1rem;
        
        border-radius: 3px;
        

    }


    .card-recent {
        border-radius: 3px;
        border: 1px solid black;
        text-align: center;
        margin: 3rem;
        
       
        
    }

    .card-footer-button {
        background-color: #ffffff;
        border: none;
        width: 50px;
    } 

    .profile-btn-more {
        width: 110px;
        height: 30px;
        margin: auto;
        color: #fff;
        background-color: #0c4767;
        
    }

    .card-img-top {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .card-profile-view {
        border-radius: 80%;
        width: 30px;
        height: 30px;
        margin-left: 15px;
    }

   .card-header-dash {
       background-color: #0c4767;
       width: 100%;
       color: #ffffff;
       height: 45px;
   }

   .nav {
       padding: 5px 20px 5px 20px;
       margin-left: 30px;
   }

   .nav-link {
       padding: .7rem 1rem;
   }

   .nav-item:hover a {
       color: #ffffff;
   }


   .welcome h3 {
    color: #ffffff !important;
    
   }

   .card {
       margin: 2rem;
   }

  


   

</style>


    <div class="container-connect-dashboard justify-content-center m-auto">

        
            <div class="row">
                <div class="card-header-dash">
                    <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Messages</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Wallet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Browse Jobs</a>
                          </li>
                      </ul>
                </div>
            </div>

            <div class="row mt-5">
                <div class="welcome ">
                    <h3>Welcome, Alex!</h3>
                </div>
            </div>

        
                <!-- THE JOBS SECTION CARDS GOES HERE -->
            <div class="row justify-content-center mb-5 ">

                <div class="card widget-content mt-3 mb-3   justify-content-center col-md-2">
                    
                    <div class="row widget-content-wrapper p-4 justify-content-around ">
                        <div class="widget-content-left mt-3">
                            <div class="widget-heading">
                                <i class="fa fa-dashboard" style="font-size: 25px"></i>
                            </div>
                        </div>

                        <div class="widget-subheading mt-3">
                            <h4 class="text-muted">Jobs Applied</h4>
                        </div>

                        <div class="widget-content-right mt-3">
                            <div class="widget-number" style="color: #A41201; font-size: 25px;">
                                0
                            </div>
                        </div>
                    </div>

                    
                    
                </div>

                <div class="card widget-content mt-3 mb-3   justify-content-center col-md-2">
                    
                    <div class="row widget-content-wrapper p-4 justify-content-around border-0">
                        <div class="widget-content-left mt-3">
                            <div class="widget-heading">
                                <i class="fa fa-dashboard" style="font-size: 25px"></i>
                            </div>
                        </div>

                        <div class="widget-subheading mt-3">
                            <h4 class="text-muted">Jobs Awarded</h4>
                        </div>

                        <div class="widget-content-right mt-3">
                            <div class="widget-number" style="color: orangered; font-size: 25px;">
                                0
                            </div>
                        </div>
                    </div>
                       
                </div>

                <div class="card widget-content mt-3 mb-3   justify-content-center col-md-2">
                    
                    <div class="row widget-content-wrapper p-4 justify-content-around border-0">
                        <div class="widget-content-left mt-3">
                            <div class="widget-heading">
                                <i class="fa fa-dashboard" style="font-size: 25px"></i>
                            </div>
                        </div>

                        <div class="widget-subheading mt-3">
                            <h4 class="text-muted">Jobs In Progress</h4>
                        </div>

                        <div class="widget-content-right mt-3">
                            <div class="widget-number" style="color: yellow; font-size: 25px;">
                                0
                            </div>
                        </div>
                    </div>

                    
                    
                </div>

                <div class="card widget-content mt-3 mb-3  justify-content-center col-md-2">
                    
                    <div class="row widget-content-wrapper p-4 justify-content-around border-0">
                        <div class="widget-content-left mt-3">
                            <div class="widget-heading">
                                <i class="fa fa-dashboard" style="font-size: 25px"></i>
                            </div>
                        </div>

                        <div class="widget-subheading mt-3">
                            <h5 class="text-muted" >Jobs Completed</h5>
                        </div>

                        <div class="widget-content-right mt-3">
                            <div class="widget-number" style="color: green; font-size: 25px;">
                                0
                            </div>
                        </div>
                    </div>

                    
                    
                </div>
            </div>  


            <div class="row">
                
            </div>

                  <!-- THE RECOMMENDED JOBS GOES HERE -->

            <div class="row justify-content-center mb-5">


                <div class="card mt-3 mb-5 col-md-2 justify-content-center">
                    <img class="card-img-top mt-5" src='../../vendors/img/1.jpg' alt="Card image cap">
                    <br>
                    <div class="card-body-recent mt-5">
                        <h5 class="card-title text-muted">Design Mobile App UI</h5>
                        <p class="card-text">Fiifi Gordon</p>
                        <p class="card-text"><small>USD 300.00</small></p>
                    </div>
                    <div class=".card-footer-button mt-3 mb-3">
                        <button class="form-control profile-btn-more">See more</button>
                    </div>
                </div>

                <div class="card mt-3 mb-5 col-md-2 justify-content-center">
                    <img class="card-img-top mt-5" src='../../vendors/img/1.jpg' alt="Card image cap">
                    <br>
                    <div class="card-body-recent mt-5">
                        <h5 class="card-title text-muted">Design Mobile App UI</h5>
                        <p class="card-text">Fiifi Gordon</p>
                        <p class="card-text"><small>USD 300.00</small></p>
                    </div>
                    <div class=".card-footer-button mt-3 mb-3">
                        <button class="form-control profile-btn-more">See more</button>
                    </div>
                </div>


                <div class="card mt-3 mb-5 col-md-2 justify-content-center">
                    <img class="card-img-top mt-5" src='../../vendors/img/1.jpg' alt="Card image cap">
                    <br>
                    <div class="card-body-recent mt-5">
                        <h5 class="card-title text-muted">Design Mobile App UI</h5>
                        <p class="card-text">Fiifi Gordon</p>
                        <p class="card-text"><small>USD 300.00</small></p>
                    </div>
                    <div class=".card-footer-button mt-3 mb-3">
                        <button class="form-control profile-btn-more">See more</button>
                    </div>
                </div>


                <div class="card mt-3 col-md-2 justify-content-center">

                    <div class="row">
                        <!-- <div class="card  mb-5 col-md-12">
                            <div class="money text-center">
                                <h3 class="text-center text-muted mt-2">$0.00</h3>
                                <p class="text-center text-muted">Total Earnings</p>
                            </div>
    
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="card mb-5 col-md-12">
                            <!-- <div class="money text-center">
                                <h5 class="text-center mt-4" style="color: #0c4767;">Profile Viewed by (5)</h5>
                            </div> -->
    
                            <!-- <div class="image-profile">
                               <span class="text-muted"><img class="card-profile-view" src='../../vendors/img/1.jpg' alt="Card image cap">     Abdul Manaf Sulley</span> 
                               <p class="duration" style="margin-left: 50px;">2 days ago</p>
                                    
                            </div>
    
                            <div class="image-profile">
                                <span class="text-muted"><img class="card-profile-view" src='../../vendors/img/1.jpg' alt="Card image cap">     Abdul Manaf Sulley</span> 
                                <p class="duration" style="margin-left: 50px;">2 days ago</p>
    
                               
                                     
                             </div> -->
    
                             
     
    
                        </div>
                    </div>
                    
                    
                        
                        
                </div>
                        
                

            </div>
        

    </div>



        
       














































<% include ../layout/footer-public.ejs %>
