
<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/dashboard.css" />




    <div class="container-fluid" >
        <div class="row">
            <div class="card-header-dash">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Messages</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Wallet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Browse Jobs</a>
                      </li>
                  </ul>
            </div>
        </div>
    </div>
    <div class="dashboard-background">
        <div class="container" style="width: fit-content; height: fit-content;">
            
            <!-- THE JOBS SECTION CARDS GOES HERE -->
        <div class="row mb-5 ">
            <div class="col-md-3">
                <div class="card mt-3 mb-3 border-0 bg-white">
                    <div class="card-body section-card d-flex dash-card justify-content-around">
                        <div>
                            <i class="fa fa-list job-icons mt-4" style="color: #FC6D00;"></i>
                        </div>
                        <div class="mt-3 job-types">
                            Individual Freelancers
                        </div>
                        <div class="mt-2 numbers-section">
                            <h3 class="mt-2" style="color: #FC6D00;">0</h3>
                        </div>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="card mt-3 mb-3 border-0 bg-white">
                    <div class="card-body section-card d-flex dash-card justify-content-around">
                        <div>
                            <i class="fa fa-list job-icons mt-4" style="color: #FC6D00;" ></i>
                        </div>
                        <div class="mt-3 job-types">
                            Individual Clients
                        </div>
                        <div class="mt-2 numbers-section">
                            <h3 class="mt-2" style="color: #FC6D00;">0</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3 mb-3 border-0 bg-white">
                    <div class="card-body section-card d-flex dash-card justify-content-around">
                        <div>
                            <i class="fa fa-hourglass-half job-icons mt-4" style="color: #FC6D00;"></i>
                        </div>
                        <div class="mt-3 job-types">
                            Business Freelancers
                        </div>
                        <div class="mt-2 numbers-section">
                            <h3 class="mt-2" style="color: #FC6D00;">0</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3 mb-3 border-0 bg-white">
                    <div class="card-body section-card d-flex dash-card justify-content-around">
                        <div>
                            <i class="fa fa-check-circle job-icons1 mt-4" style="color: #FC6D00; font-size: 25px;"></i>
                        </div>
                        <div class="mt-3 job-types">
                            Business Clients
                        </div>
                        <div class="mt-2 numbers-section" >
                            <h3 class="mt-2" style="color: #FC6D00;">0</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

    </div>
</div>
    


<% include ../layout/footer-public.ejs %>
