<style>
    .status-button{
        color: white;
        outline: 0;
        border: 0;
    }
    .pending-button{
        background-color: #DEC109;
    }
    .accepted-button{
        background-color: #0DC100;
    }
    .review-button{
        background-color: #0C4767;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: transparent;
      color: grey;
      font-size: 16px;
      border: none;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 8px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}




    
    </style>
    




<div class="row mb-2">
    <div class="col-md-12" id='jobPosted' style="display: none;">
        <p>3 Jobs posted</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Posted</th>
                <th scope="col">No. of Applicants</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Design Mobile App UI</td>
                <td>10/07/2020</td>
                <td>3</td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">View</a>
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                    </div> </td>
              </tr>
              <tr>
                <td>Design Mobile App UI</td>
                <td>10/07/2020</td>
                <td>3</td>
                <td><div class="dropdown">
                <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                <div class="dropdown-content">
                    <a href="#">View</a>
                    <a href="#">Edit</a>
                    <a href="#">Delete</a>
                </div>
                </div> </td>
              </tr>
              <tr>
                <td>Design Mobile App UI</td>
                <td>10/07/2020</td>
                <td>3</td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">View</a>
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                    </div>
                    </div> </td>
              </tr>
            </tbody>
          </table>
    </div>
    
    
    <div class="col-md-12" id="jobsAwarded" style="display: none;">
        <p>2 Jobs Awarded</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Awarded</th>
                <th scope="col">Freelancer</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Design Mobile App UI</td>
                <td>15/07/2020</td>
                <td>Alex Amankwa</td>
                <td><button class="status-button accepted-button">
                    Accepted
                </button></td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Go to workspace</a>
                        <a class="text-muted" href="#">Make Payment</a>
                        <a class="text-muted" href="#">Edit</a>
                        <a class="text-muted" href="#">Delete</a>
                        <a href="#">Withdraw</a>
                    </div>
                    </div> </td>
              </tr>
              <tr>
                <td>Design Mobile App UI</td>
                <td>15/07/2020</td>
                <td>Ama Brobbey</td>
                <td><button class="status-button pending-button">
                    Pending
                </button></td>
                <td class="text-muted"><i class="fa fa-ellipsis-v"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-md-12" id="jobsProgress" style="display: none;">
        <p>2 Jobs in progress</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Freelancer</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Design Mobile App UI</td>
                <td>Alex Amankwa</td>
                <td><button class="status-button pending-button">
                    Ongoing
                </button></td>
                <td><div class="dropdown">
                    <button class="dropbtn"><i class="fa fa-ellipsis-v"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Go to workspace</a>
                        <a class="text-muted" href="#">Make Payment</a>
                        <a class="text-muted" href="#">Edit</a>
                        <a class="text-muted" href="#">Delete</a>
                        <a href="#">Withdraw</a>
                    </div>
                    </div> </td>
              </tr>
              <tr>
                <td>Design Mobile App UI</td>
                <td>Ama Brobbey</td>
                <td><button class="status-button accepted-button">
                    Completed
                </button></td>
                <td class="text-muted"><i class="fa fa-ellipsis-v"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
    
    <div class="col-md-12" id="jobsCompleted" style="display: none;">
        <p>1 Job completed</p>
        <table class="table .table-borderless m-auto">
            <thead class="thead-blue">
              <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Date Completed</th>
                <th scope="col">Freelancer</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Design Mobile App UI</td>
                <td>15/07/2020</td>
                <td>Alex Amankwa</td>
                <td><button class="status-button review-button">
                    Review
                </button></td>
              </tr>
            </tbody>
          </table>
    </div>    
</div>