

    <div class=" mail-container" style="margin: auto;">

        <div class="">

            <div class="card-email" style="width: 600px; height: 300px;">
                <div class="logo-content">
                    <img src='../../vendors/img/logo-email-template.svg' class="" alt="Connect Logo" style="height: 15px; margin-top: 15px; padding-left: 15px; float: left;"> 
                </div>
                <div class="email-body mail-image" style="background-image:url('../../vendors/img/man-sitting-down-with-overlay.png'); height: 280px; background-size: cover;  text-align: center; ">
                  <h5 class="email-title" style=" color: #ffffff;font-size: 25px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-top: 40px;">Welcome to CONNECT</h5>
                  <p class="email-para" style="color: #ffffff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-top: 10px;">Thank you for signing up on Connect. Click on the <br> button below to verify your account</p>

                  <a href="http://<%=hostname%>/verification/<%=emailReceiver%>/<%=token%>" >
                    <button style=" background-color: #A41201;color: #ffffff; margin: auto; position: relative; z-index: 300; border-radius: 2px; text-align: center; width: 200px; padding-top: 5px; padding-bottom: 5px;border-color: #A41201; text-decoration: none;" type="" class="btn mt-5 ">
                        Click To Verify Your Account
                    </button>
                  </a>
                  
                </div>
                
            </div>

            <hr style="width: 39%; float: left;">


            <div class="need-help" style="background-color: #ffffff; border-color: black; ">
                <div class="" style="margin-left: 20px;">
                    <div class="">

                        <div class="">
                            <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">Need Help?</h3>
                            <p style="font-size: 18px;">Feel free to send us a mail: <a href="mailto:connect@gmail.com">Connect</a> or talk to our support section. We will be<br> happy to resolve all your issues.</p>
                        </div>
                     
                    </div>
                </div>
            </div>

        </div>


     </div>









   