<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>
<% if(user){%>
    <% include ./layout/menu-portal.ejs %>
  <% } %>

<style>
   

    .freelancers-page-image {
        border-radius: 50%;
        height: 70px;
        width: 70px;

    }

    .freelancer-details h5 {
        color:#373833;
    }
    
    h5 {
        color: #373833;
    }

    .color-for-background {
        background-color: #e8e8e8;
    }

    .filtering {
        height: 60px;
        margin-bottom: 10px;
        
    }

    .card {
        box-shadow: none;
    }

    .freelancers-buttons {
        background-color: #0c4767;
        color: #FFFFFF;
        width: 200px;
        margin: auto;
    }

  

    
   

</style>

<div class="color-for-background">
    <div class="container-fluid ">

    

        <div class="row">
    
            <div class="col-md-6 mt-5 mb-3">
                <h3 style="color: #0C4767;">Search Freelancers</h3>
            </div>
    
        </div>
    
        
        
    
            <div class="row">
    
                <div class="col-md-6">
                    <div class="card filtering">
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend border-0">
                                  <span class="input-group-text border-0 bg-white mt-2 fa fa-search" style="font-size: large;" id="basic-addon1"></span>
                                </div>
                                <input type="text" class="form-control border-0" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                              </div>
                        </div>

                    </div>
                </div>
    
                <div class="col-md-2">
                    <div class="card filtering">
                        <div class="card-body">
                            <input type="text" class="form-control border-0" placeholder="Category" aria-label="Category" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    
                </div>
    
                <div class="col-md-2">
                    <div class="card filtering">
                        <div class="card-body">
                            <input type="text" class="form-control border-0" placeholder="Location" aria-label="Location" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    
                </div>
    
                <div class="col-md-2">
                    <div class="card filtering">
                        <div class="card-body">
                            <input type="text" class="form-control border-0" placeholder="Skills" aria-label="Skills" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    
                </div>
    
            </div>
            
        
    
            <div class="row mt-5 mb-5">
    
                <div class="col-md-3 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="row"> 
                                <div class="card-body d-flex">
                                    <div class="col-md-4">
                                        <img src='../../vendors/img/2.jpg' class="freelancers-page-image img-fluid im-responsive mr-5" alt="...">
                                    </div>
                                   
                                    <div class="col-md-8">
                                        <h5>Micheal Larbo</h5>
        
                                        <div>
                                            <h5>Software Developer</h5>
                                        </div>
                
                                        <div>
                                            <span ><i class="fa fa-map-marker" style="color: red;" ></i>&nbsp;Takoradi, Accra</span>
                                        </div>
                                    </div>

                                </div>
                                    
                            </div>
    
                            <div class="row col-md-12 mt-3">
                                <div>
                                    <h5>Skills</h5>
                                </div>
                            </div>
    
                            <div class="row col-md-12">
                                <div>
                                    Looping for skills
                                </div>
                            </div>


                            <div class="row col-md-12 ">
                                <div class=" card  border-0">
                                    <div class="card-body justify-content-end border-0 d-flex ">
                                        <div>
                                            Project Count
                                        </div>
        
                                        <div>
                                            Availability Option
                                        </div>

                                    </div>
                                    
    
                                </div>
                            </div>

                            <div class="row col-md-12">
                                <div>
                                    <button class=" form-control text-center freelancers-buttons">Connect</button>
                                </div>
                            </div>
                        </div>

                    </div>
                        
                </div>
                
    
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row"> 
                                <div class="card-body d-flex">
                                    <div class="col-md-4">
                                        <img src='../../vendors/img/2.jpg' class="freelancers-page-image img-fluid im-responsive mr-5" alt="...">
                                    </div>
                                   
                                    <div class="col-md-8">
                                        <h5>Micheal Larbo</h5>
        
                                        <div>
                                            <h5>Software Developer</h5>
                                        </div>
                
                                        <div>
                                            <span ><i class="fa fa-map-marker" style="color: red;" ></i>&nbsp;Takoradi, Accra</span>
                                        </div>
                                    </div>

                                </div>
                                    
                            </div>
    
                            <div class="row col-md-12 mt-3">
                                <div>
                                    <h5>Skills</h5>
                                </div>
                            </div>
    
                            <div class="row col-md-12">
                                <div>
                                    Looping for skills
                                </div>
                            </div>


                            <div class="row col-md-12 ">
                                <div class=" card  border-0">
                                    <div class="card-body justify-content-end border-0 d-flex ">
                                        <div>
                                            Project Count
                                        </div>
        
                                        <div>
                                            Availability Option
                                        </div>

                                    </div>
                                    
    
                                </div>
                            </div>

                            <div class="row col-md-12">
                                <div>
                                    <button class=" form-control text-center freelancers-buttons">Connect</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row"> 
                                <div class="card-body d-flex">
                                    <div class="col-md-4">
                                        <img src='../../vendors/img/2.jpg' class="freelancers-page-image img-fluid im-responsive mr-5" alt="...">
                                    </div>
                                   
                                    <div class="col-md-8">
                                        <h5>Micheal Larbo</h5>
        
                                        <div>
                                            <h5>Software Developer</h5>
                                        </div>
                
                                        <div>
                                            <span ><i class="fa fa-map-marker" style="color: red;" ></i>&nbsp;Takoradi, Accra</span>
                                        </div>
                                    </div>

                                </div>
                                    
                            </div>
    
                            <div class="row col-md-12 mt-3">
                                <div>
                                    <h5>Skills</h5>
                                </div>
                            </div>
    
                            <div class="row col-md-12">
                                <div>
                                    Looping for skills
                                </div>
                            </div>


                            <div class="row col-md-12 ">
                                <div class=" card  border-0">
                                    <div class="card-body justify-content-end border-0 d-flex ">
                                        <div>
                                            Project Count
                                        </div>
        
                                        <div>
                                            Availability Option
                                        </div>

                                    </div>
                                    
    
                                </div>
                            </div>

                            <div class="row col-md-12">
                                <div>
                                    <button class=" form-control text-center freelancers-buttons">Connect</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
    
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="row"> 
                                <div class="card-body d-flex">
                                    <div class="col-md-4">
                                        <img src='../../vendors/img/2.jpg' class="freelancers-page-image img-fluid im-responsive mr-5" alt="...">
                                    </div>
                                   
                                    <div class="col-md-8">
                                        <h5>Micheal Larbo</h5>
        
                                        <div>
                                            <h5>Software Developer</h5>
                                        </div>
                
                                        <div>
                                            <span ><i class="fa fa-map-marker" style="color: red;" ></i>&nbsp;Takoradi, Accra</span>
                                        </div>
                                    </div>

                                </div>
                                    
                            </div>

                            <div class="row col-md-12 mt-3">
                                <div>
                                    <h5>Skills</h5>
                                </div>
                            </div>
    
                            <div class="row col-md-12">
                                <div>
                                    Looping for skills
                                </div>
                            </div>


                            <div class="row col-md-12 ">
                                <div class=" card  border-0">
                                    <div class="card-body justify-content-end border-0 d-flex ">
                                        <div>
                                            Project Count
                                        </div>
        
                                        <div>
                                            Availability Option
                                        </div>

                                    </div>
                                    
    
                                </div>
                            </div>

                            <div class="row col-md-12">
                                <div>
                                    <button class=" form-control text-center freelancers-buttons">Connect</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
    
            </div>
    
        
    
        
    
    </div>

</div>




<% include ./layout/footer-public.ejs %>