
<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>


<style>
  

    .verify-acount-img {
        height: 150px;
        width: 150px;
        
    }

    .card-header {
        background-color: #ffffff;
        height: 100px;
        padding: 5px;

    }
</style>



<div class="card">
    <div class="card-header ">
        <img src='../../vendors/img/logo-nav2.svg' class="verify-acount-img" alt="...">
    </div>

    <div class="card-body text-center verify-mail">
            



    </div>
</div>










<% include ./layout/footer-public.ejs %>