<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>



<!--<div class="site-blocks-cover" style="background-image: url(/img/home-banner.png);" data-aos="fade" data-stellar-background-ratio="0.5">-->

  <div id="homepage-4">
    <div class="ps-home-banner">
      
<div class="ps-carousel--dots owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000"
  data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1"
  data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="off"
  data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut"><img src="img/back1.jpg" alt=""><img
    src="img/back2.jpg" alt="background"><img src="img/back3.jpg" alt=""></div>

      <!--REMEMBER TO FIX THE SEARCH BUTTON QUERY-->
        <form class="ps-form&#45;&#45;home-find-job" action="/jobs" method="get">
          <h1>Get your job done by <br /> expert freelancers</h1>
          <h5>AmaliTech Freelance connects businesses to the best freelancers
            in the market</h5>
          <div class="tab-pane fade show active">
            <form action="/jobs" method="post">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="text" id="keyword" name="keyword"  placeholder="eg. Website" />
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="select-wrap">
                      <span class="icon-keyboard_arrow_down arrow-down"></span>
                      <select name="category" id="category" class="form-control">
                        <option value="all" >All</option>
                        <% category.map(cat =>{ %>
                        <option value="<%=cat.id%>" ><%=cat.name%></option>
                        <% }); %>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <input type="submit" class="btn btn-success" value="Search">
                  </div>
                </div>
              </div>
              <p>Search through hundreds of jobs matching your skills <br>on AmaliTech Freelance.</p>
            </form>
          </div>
        </form>
    </div>
  </div>
<!--</div>-->


<!--Suraj codes starts from here-->
<div class="site-section bg-light">
  <div class="ps-home-find-job-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="ps-section__footer  wow slideInLeft" data-wow-delay="0.5s" data-wow-duration="2s">
            <h3>Need work done?</h3>
            <p>Are you looking for a skilled professional to work with on your project?
              Are you looking to pay less to get your job done?  Look no further,<br>
              You can post your job, browse through our list of freelancers, and connect with one whose skills matches your requirement after checking their profile and portfolio.
            </p>
            <a href="/signup"> <button class="ps-btn ps-btn--gradient">Find Freelancers</button> </a>
          </div>
        </div>

        <div class="col-md-6">
          <div class="ps-section__footer">
            <img src="img/client.png" alt="Client Image">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="ps-section__footer">
            <img src="img/freelancer1.png" alt="Freelancer Image">
          </div>

        </div>
        <div class="col-md-6">
          <div class="ps-section__footer">
            <h3>Need to make extra cash freelancing?</h3>
            <p>Are you a skilled personnel looking to make extra cash working on projects for clients?
              Register on Adwumafie to join the exclusive freelancer community.
              Once the account is created,you will gain access to view or apply to various projects.
              Are you ready to provide services to clients?Click on the link button below.
            </p>
            <a href="/jobs"> <button class="ps-btn ps-btn--gradient">Find Jobs</button></a>

          </div>

        </div>
      </div>



      <!--Categories repositioned-->

      <div class="ps-home-services-2">
        <h4>Popular Categories</h4>
        <figure>
          <div class="ps-block--service box-shadow">
            <div class="ps-block__content"><img src="img/html-5.png" alt="web design" width="180px" height="180px">
              <h5>Web Design</h5>
            </div>
          </div>
        </figure>
        <figure>
          <div class="ps-block--service box-shadow">
            <div class="ps-block__content"><img src="img/graphic.png" alt="Graphic Designing" width="180px" height="180px">
              <h5>Graphic Design</h5>
            </div>
          </div>
        </figure>
        <figure>
          <div class="ps-block--service box-shadow">
            <div class="ps-block__content"><img src="img/digmark.png" alt="Digital Marketing" width="180px" height="180px">
              <h5>Digital Marketing</h5>
            </div>
          </div>
        </figure>
        <figure>
          <div class="ps-block--service box-shadow">
            <div class="ps-block__content"><img src="img/app.png" alt="Mobile Apps" width="180px" height="180px">
              <h5>Mobile App</h5>
            </div>
          </div>
        </figure>
      </div>
    </div>
  </div>
  <div class="ps-home-join-us">
    <div class="container">
      <p>Millions of small businesses use <br /> Freelancer to turn their ideas into reality</p><a class="ps-btn ps-btn--gradient" href="/signup">Join Adwumafie today</a>
    </div>
  </div>
</div>




<!--ends here -->


<div class="site-section bg-white">
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-6" data-aos="fade" >
        <h2 class="text-black">Choose<strong> Adwumafie</strong> </h2>
      </div>
    </div>
    <div class="row hosting">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="100">
        <div class="unit-3 h-100 bg-white">
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class=" mr-4">
              <img class="" src="/img/job-search.png" width="59px" height="68px" />
                <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
              <!-- </svg><span class="unit-3-icon icon fl-bigmug-line-portfolio23"></span> -->
            </div>
            <h2 class="h5"><strong>Huge Database of Jobs</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b"> Adwumafie can boast of a huge database of jobs from all industries and sectors. You can search for any job.</p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="200">
        
        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <img class="" src="/img/best freelancers.png" width="59px" height="68px" />
            </div>
            <h2 class="h5"><strong>Best Freelancers</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">
              If you are client looking to get your job done successfully, this is the place to be. 
              We have the best freealncers</p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="300">
        
        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <img class="" src="/img/payment.png" width="59px" height="68px" />
            </div>
            <h2 class="h5"><strong>Seamless Payment System</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">Our payment structure is seamless and all monies are directed the right persons. We offer stripe payment.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="400">

        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <img class="" src="/img/innovative jobs.png" width="59px" height="68px" />
            </div>
            <h2 class="h5"><strong>Innovative and Challenging Jobs</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">If you are looking to test your skill in area, our platform provides you with the most innovative and interesting jobs.</p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="500">
        
        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <img class="" src="/img/excellent support2.png" width="59px" height="68px" />
            </div>
            <h2 class="h5"><strong>Excellent Support Team</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">Our support team is online and ready to help 24/7. We solve your problems as soon as possible.</p>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos="fade" data-aos-delay="600">
        
        <div class="unit-3 h-100 bg-white">
          
          <div class="d-flex align-items-center mb-3 unit-3-heading">
            <div class="unit-3-icon-wrap mr-4">
              <img class="" src="/img/customized workplace.png" width="59px" height="68px" />
            </div>
            <h2 class="h5"><strong>Customized Workspce</strong></h2>
          </div>
          <div class="unit-3-body">
            <p style="color:#0b0b0b">
              Our platform has a workspace for every job being worked on which can be accessed by both parties.
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>


    <!--How it works -->
<div  class="site-section bg-light">
  <div style="background-color: #" class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center">
        <h2 class="font-weight-bold text-black" data-aos="fade">How It Works</h2>
        <p>Learn How to use the platform effectively</p>
      </div>
    </div>
    <div class="row top-destination">
      <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
        <a href="/signup" class="place text-black">
          <img src="img/form.png" alt="Image placeholder">
          <h2 >Signup</h2>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
        <a href="/login" class="place text-black">
          <img src="img/login.png" alt="Image placeholder">
          <h2>Login</h2>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
        <a href="/user/profile" class="place text-black">
          <img src="img/update-profile.png" alt="Image placeholder">
          <h2>Update Profile</h2>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
        <a href="/user/post-job" class="place text-black">
          <img src="img/submit.png" alt="Image placeholder">
          <h2>Post/Apply For Jobs</h2>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
        <a href="/user/my-jobs/awarded" class="place text-black">
          <img src="img/awared.png" alt="Image placeholder">
          <h2>Award/Accept Jobs</h2>
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-12 text-center" data-aos="fade">
        <a href="/user/my-jobs/awarded" class="place text-black">
          <img src="img/survey.png" alt="Image placeholder">
          <h2>Complete Job</h2>
        </a>
      </div>
    </div>
  </div>
</div>
<br>
<!-- 
<div class="site-section bg-white">
  <div class="recent-jobs-text">
    <h3>Recent Jobs</h3>
  </div>

  <style>
    .partners .items{
      margin:3px;
    }
    .partners .item img{
      display:block;
      width: 30%;
      height: auto;
      margin-right: 10px;

    }
  </style>

  <div id="partners" class="carousel" data-ride="carousel" >

    <div class="items">
      <img src="img/app.png">
    </div>
    <div class="items"><img src="img/app.png"></div>
    <div class="items"><img src="img/app.png"></div>


  </div>
 -->

 <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img src="img/app.png" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
        <img src="img/app.png" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item">
     <img src="img/app.png" class="d-block w-100" alt="...">
       </div>
  </div>
</div>



  <!--<div class="recent-jobs ">
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
          <div class="body recent-jobs ">
            <div class="container-recent-jobs owl-carousel">
              <% jobs.map(j=>{ %>
              <div class="card-recent-jobs">
                <h3 class="title-recent-jobs"><%=j.title%></h3>
                <div class="bar-recent-jobs">
                  <div class="emptybar-recent-jobs"></div>
                  <div class="filledbar-recent-jobs"></div>
                </div>
                <div class="circle-recent-jobs">
                  <img src="img/login.png">
                    <circle class="stroke-recent-jobs" cx="60" cy="60" r="50"/>
                  </img>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
</div>-->





<% include ./layout/footer-public.ejs %>

