<% include ./layout/header-public.ejs %>
<% include ./layout/menu-public.ejs %>



<div class="sign-up-page  animated-img" style="background-image:url('../../vendors/img/signup-2.jpg'); ">

    <div class="card-title justify-content-center">
        <h2 class="text-center">Choose an account to continue</h2>
    </div>
    <div class="row justify-content-center">
        <div class="card-group" style="margin: auto">
            <div class="col-md-6">
                <div class="card ml-5 mr-5" >
                    <img src='../../vendors/img/individual account.jpg' class="card-img-top" alt="..." style="width: 40rem; height: 25rem; background-size: cover; ">
                    <div class="card-body">
                        <h5 class="card-title1 text-center" id="vanish">Individual Account</h5>
                        <div class="overlay">
                            <div class="text-center mt-5">
                                <h3 style="color: #ffffff">Individual Account</h3>
                                <p style="color: #ffffff">Create a business account if you're are a registered<br>
                                    entity looking for services or want to provide services<br>
                                    to other business entities...<a href="#" style="color: #ffffff; font-weight: bold; text-decoration: underline">read more</a></p>
                                <a href="/signup/individual"><button class="connect-button">Let's Connect</button></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mr-5 ml-5" >
                    <img src='../../vendors/img/business account.jpg' class="card-img-top" alt="..." style="width: 40rem; height: 25rem">
                    <div class="card-body" >
                        <h5 class="card-title1 text-center">Business Account</h5>
                        <div class="overlay">
                            <div class="text-center mt-5">
                                <h3 style="color: #ffffff">Business Account</h3>
                                <p style="color: #ffffff">Create a business account if you're are a registered<br>
                                    entity looking for services or want to provide services<br>
                                    to other business entities...<a href="#" style="color: #ffffff; font-weight: bold; text-decoration: underline">read more</a></p>
                                <a href="/signup/business"><button class="connect-button">Let's Connect</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>





</div>
