<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<style>
   


</style>

<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/analog-camera-behind-computer-laptop-3773401.jpg'); padding-bottom: 800px; padding-top: 80px ">

</div>

    <%include ../layout/footer-public.ejs %>
