<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>
<style>
    .job-title{
        background-color:#0C4767;
        height: 400px;
        color: #ffffff;
        font-size: medium;
        font-weight: 700;
    }
</style>


<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/macbookPro.jpg'); padding-bottom: 800px; padding-top: 80px ">

    <div class="row">
        <div class="col-md-12">
            <div class="text-center justify-content-center">
                 <h2>Post a Job</h2>
             <p class="text-center ">What do you need? Post your and get skilled freelancers to work on it for you. You make payment <br> only when you award job a freelancer. </p>
            </div>
         </div>
        <div class="col-md-12">
            <div class="card">
                <div class="job-title text-center justify-content-center">
                    Job Details
                </div>
                <form class="form-row justify-content-center">
                    <div class="card-business ml-3 mt-1" >
                        <div class="row pt-4" style="padding-left: 5rem; padding-right: 5rem;">
                            <div class="col-md-9 m-auto">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                    <label for="businessName">Give your project a name</label>
                                    <input type="text" class="form-control" id="bname" placeholder="Eg: Logo Design">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="goldenName">Description</label>
                                        <textarea type="text" class="form-control" id="goldname" placeholder="Write a description here..."></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="serviceName">Estimated Duration</label>
                                        <div class="row">
                                            <div class="col">
                                            <input type="number" class="form-control" min="1" max="7">
                                            </div>
                                            <div class="col">
                                                <select type="text" name="service" id="avail" class="form-control" placeholder="" required>
                                                    <option selected>day(s)</option>
                                                    <option>weeks</option>
                                                    <option>months</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="serviceName">Price</label>
                                        <div class="row">
                                            <div class="col">
                                            <input type="text" class="form-control" value="USD" readonly>
                                            </div>
                                            <div class="col">
                                            <input type="number" name="amount" class="form-control" min="1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                    <label for="businessName">Enter Skills Needed</label>
                                    <input type="text" class="form-control" id="bname" placeholder="Eg: Logo Design">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <input type="checkbox" onchange="handleChange(this)" id="specific" name="specific" value="specific">
                                        <label for="specific">Send to specific businesses</label>
                                    </div>
                                </div>
                                <div class="form-row" id="specificFreelancers" style="display: none;">
                                    <div class="form-group col-md-12">
                                    <input type="text" class="form-control" id="" placeholder="Eg: Logo Design">
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                    <div class="col-md-12 mb-5">
                                        <button name="next" class="form-control profile-btn">POST</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </form>
            </div>

        </div>
    </div>
</div>

    <%include ../layout/footer-public.ejs %>
