<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>


<div class="ps-page--signin  animated-img" style="background-image:url('../../vendors/img/analog-camera-behind-computer-laptop-3773401.jpg'); padding-bottom: 800px; padding-top: 80px ">

    <div class="row">
        <div class="col-md-12">
            <div class="text-center justify-content-center">
                 <h2>Post a Job</h2>
             <p class="text-center ">What do you need? Post your and get skilled freelancers to work on it for you. You make payment <br> only when you award job a freelancer. </p>
            </div>
         </div>
        <div class="col-md-12">
            <div class="card">
                <div class="text-center justify-content-center">
                    Job Details
                </div>
                <form class="form-row justify-content-center">
                    <div class="card-business ml-3 mt-1" >
                        <div class="row pt-4" style="padding-left: 5rem; padding-right: 5rem;">
                            <div class="col-md-9 m-auto">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                    <label for="businessName">Give your project a name</label>
                                    <input type="text" class="form-control" id="bname" placeholder="Eg: Logo Design">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="goldenName">Description</label>
                                        <textarea type="text" class="form-control" id="goldname" placeholder="Write a description here..."></textarea>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="Duration">Estimated Duration</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="number" name="" id="" class="form-control" value="1" >
                                            </div>
                                            <div class="col-md-6">
                                                <select type="text" onautocomplete="off" name="service" id="avail" class="form-control" placeholder="" required>
                                                    <option selected>Part-time</option>
                                                    <option>Full time</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="Price">Price</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" value="USD" class="form-control" readonly>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="number" value="1" class="form-control" id="price">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </form>
            </div>

        </div>
    </div>
</div>

    <%include ../layout/footer-public.ejs %>
