<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<% include ../layout/menu-portal.ejs %>
<link rel="stylesheet" type="text/css" media="all" href="/vendors/css/dashboard.css" />


<style>

.job-viewing-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.applicants-img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.appliants-card {
    height: 330px;
}

.awarding-buttons {
    width: 100px;
    background-color: #0c4767;
    color: #ffffff;
    margin: auto;
    
}

</style>


<div class="dashboard-background">
    
    <div class="container-fluid" style="padding-left: 50px; padding-right: 50px; padding-bottom: 100px;">


        <div class="row">


            <div class="col-md-4 mt-5">

                <div class="row col-md-12 mt-5">
                    <h4 class="" style="color: #373837;">Job Details</h4>
                </div>

                <div class="card ">
                    <div class="card-body text-center ">
                        <div>
                            <img src='../../vendors/img/1.jpg' class="job-viewing-img mt-3 mb-3" alt="...">
                        </div>

                        <div>
                            <h5 class="mt-4">Job Title</h5>
                           
                            <div>
                                <span style="color:#373833;"><i class="fa fa-map-marker mb-3" ></i>&nbsp;Takoradi, Accra</span>
                            </div>

                            <div>
                                <h6 style="color: #0c4767;" >$ 300.00</h6>
                            </div>
                         </div>
                    </div>
                    <hr>

                    <div>
                        <h4 class="text-muted col-md-12 mt-2">Description</h4>
                    </div>

                    <div class="col-md-12">
                        <h6 class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem alias sapiente in excepturi sint ab, id ullam voluptatem incidunt placeat dolorem minima doloremque doloribus quisquam?</h6>
                    </div>

                    <h4 class="text-muted col-md-12 mt-5" style="float: left; color: #373833;">Skills Required</h4>

                    <div class="col-md-12 justify-content-around mb-5">
                        <div class="col-md-3 mr-1  badge badge-secondary">
                            Java
                        </div>
                        <div class="col-md-3 mr-1  badge badge-secondary">
                            ASP.Net
                        </div>
                        <div class="col-md-3 mr-1 badge badge-secondary">
                            Python
                        </div>

                    </div>

                    

                </div>
            </div>

            <div class="col-md-8 mt-5">
                
                <div class="row col-md-12 mt-5">
                    <h4 class="" style="color: #373837;">Applicants</h4>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="card mb-5">
                            <div class="card-body appliants-card text-center">
                                <div>
                                    <img src='../../vendors/img/1.jpg' class="applicants-img mt-3 mb-3" alt="...">
                                </div>
                        
                                <div class="">
                                    <h5>Micheal Larbo</h5>
                        
                                    <div>
                                        <h5>Software Developer</h5>
                                    </div>
                        
                                    <div>
                                        <span ><i class="fa fa-map-marker mb-5" style="color: red;" ></i>&nbsp;Takoradi, Accra</span>
                                    </div>

                                    <div>
                                        <button class=" form-control  awarding-buttons">Award</button>
                                    </div>
                        
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-5">
                            <div class="card-body appliants-card text-center">
                                <div>
                                    <img src='../../vendors/img/1.jpg' class="applicants-img mt-3 mb-3" alt="...">
                                </div>
                        
                                <div class="">
                                    <h5>Micheal Larbo</h5>
                        
                                    <div>
                                        <h5>Software Developer</h5>
                                    </div>
                        
                                    <div>
                                        <span ><i class="fa fa-map-marker mb-5" style="color: red;" ></i>&nbsp;Takoradi, Accra</span>
                                    </div>

                                    <div>
                                        <button class=" form-control  awarding-buttons">Award</button>
                                    </div>
                        
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-5">
                            <div class="card-body appliants-card text-center">
                                <div>
                                    <img src='../../vendors/img/1.jpg' class="applicants-img mt-3 mb-3" alt="...">
                                </div>
                        
                                <div class="">
                                    <h5>Micheal Larbo</h5>
                        
                                    <div>
                                        <h5>Software Developer</h5>
                                    </div>
                        
                                    <div>
                                        <span ><i class="fa fa-map-marker mb-5" style="color: red;" ></i>&nbsp;Takoradi, Accra</span>
                                    </div>

                                    <div>
                                        <button class=" form-control  awarding-buttons">Award</button>
                                    </div>
                        
                                </div>

                            </div>
                        </div>
                    </div>



                </div>


            </div>

            

        </div>


    </div>

</div>










<%include ../layout/footer-public.ejs %>