<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>


<style>

    .search-jobs {
        color: #0c4767 !important;
        font-weight: 200;
    }

    .filter-jobs {
        height: fit-content;
        width: fit-content;
    }

    .default-job {
        height: fit-content ;
    }

    .filter-by {
        color: #0c4767;
        font-weight: 150;
        text-align: center;
    }

    .filter-contents {
        margin: auto;
        color: #0c4767;
        
    }

   

</style>





<div class="dashboard-background">


    <div class="container ">
        <div class="row">
            <div class="col-md-12 mt-3">
                <h3 class="search-jobs">Search Jobs</h3>
            </div>


            <div class="col-md-3 mb-5">

                <div class="card filter-jobs ">
                    <h3 class="filter-by mt-5">Filter by</h3>
                    <hr>
                    <div class="filter-contents">
                        <ul>
                            <li>Category</li>
                            <li>Location</li>
                            <li>Price</li>
                            <li>Skills</li>
                        </ul>
                    </div>
                </div>

            </div>

        
            

            <div class="col-md-6 mb-5">
                <div class="card">
                    zdjkvgjh
                </div>
            </div>

            <div class="col-md-3 mb-5">
                <div class="card default-job">
                    djhvdjh
                </div>
            </div>
            












        </div>

        


























    </div>




























</div>




<%include ../layout/footer-public.ejs %>