<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>


<style>

    .dashboard-background {
        background-color: #E8E8E8;
    }

    .search-jobs {
        color: #0c4767 !important;
        font-weight: 200;
    }

    .filter-jobs {
        height: fit-content;
    }

    .default-job-img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

    .filter-by {
        color: #0c4767;
        font-weight: 150;
        padding-left: 40px;
    }

    .filter-contents {
        color: #0c4767;
        line-height: 3.5rem;
    }

    .filter-list {
        margin-bottom: 100px;
        font-size: 15px;
    }

    .card {
        box-shadow: none;
        border-radius: 0%;
    }


    .listing-jobs {
        height: 80px;
    }

    .jobs-page-image {
        border-radius: 50%;
        height: 70px;
        width: 70px;
    }

    .job-name {
        color: #373833;
         
    }

    .job-price {
        color: #373833;
    }

    .title-job {
        color: #373833;
    }

    .apply-button {
        width: 100px;
        margin: auto;
        background-color: #0c4767;
        color: #ffffff;
        box-shadow: none;
    }

    .price {
      font-size: 14px;
      color: #0c4767;
  }

  .price-sidebar {
      font-size: 14px;
      color: #0c4767;
  }

  .search-filter {
      height: fit-content;
      
  }
  .modal-header{
    background-color: #0c4767;
  }
  .modal-title{
    color: #ffffff;
    text-align: center;
    height: 50px;
  }
  .modal-col-1{
      background-color: antiquewhite;
  }

  .container-jobs {
      margin-left: 5px;
      margin-right: 5px;
  }

  .send-button {
    width: 150px;
    margin: auto;
    background-color: #0c4767;
    color: #ffffff;
  }

  .close-button {
    width: 90px;
    margin: auto;
    background-color: #ffffff;
    color: #373833;

  }
   
    

   

</style>





<div class="dashboard-background">
    <div class="container-fluid container-jobs">
        <div class="row">      
            <div class="col-md-12 mt-5 mb-2">
                <h3 class="search-jobs">Search Jobs</h3>
            </div>
            <div class="col-md-2 mb-5">

                <div class="card filter-jobs ">
                    <h3 class="filter-by mt-5">Filter by</h3>
                    <hr>
                    <div class="filter-contents">
                        <ul class="filter-list">
                            <li>Category</li>
                            <li>Location</li>
                            <li>Price</li>
                            <li>Skills</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="input-group">
                            <div class="input-group-prepend border-0">
                              <span class="input-group-text border-0 bg-white mt-3 fa fa-search" style="font-size: large;" id="basic-addon1"></span>
                            </div>
                            <input type="text" class="form-control border-0" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                    </div>
                
                </div>
                <div class="card d-flex mb-5 ">
                    <div class="card-body">
                        <div class="row ">

                            <div class="col-md-8 mt-3 mb-3 d-flex justify-content-start">
                                <div>
                                    <img src='../../vendors/img/2.jpg' class="jobs-page-image img-fluid im-responsive mr-5" alt="...">
                                </div>
                                <div>
                                    <h4 class="title-job mt-3">Design Mobile App UI</h4>
                                    
                                    <div class="d-flex justify-content-around">
                                        <span style="color:#373833; font-size: 15px;"><i class="fa fa-map-marker" ></i>&nbsp;Takoradi, Accra</span>
                                        <h6 class="ml-5 mt-1" style="color: #373833; font-size: 15px;">Posted 5 days ago</h6>
                                    </div>
                                    
                                </div>
                            
                            </div>
    
                            <div class="col-md-2">
                                <h6 class="price mt-5">$300.00</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <div class="card default-job text-center">
                    <div class="card-body  flex-column">
                        <div class="">
                            <img src='../../vendors/img/2.jpg' class="default-job-img mt-3 mb-4" alt="...">
                        </div>
                            
                        <div>
                            <h5 class="title-job ">Design Mobile App UI</h5>
                            <h6>Posted by <a href="#" style="color: #0c4767;">Fiifi Gordon</a></h6>
                        </div>

                        <div>
                            <span style="color:#373833;"><i class="fa fa-map-marker" ></i>&nbsp;Takoradi, Accra</span>
                        </div>

                        <div>
                            <h6 class="price-sidebar mb-5 ">$ 300.00</h6>
                        </div>
                            <hr/>

                        <div class="">
                            <h5 class="text-muted" style="float: left; color: #373833;">Description</h5>
                            <br>
                            <div>
                                <p class="text-justify mb-5" style="float: left; color: #373833;">
                                    Incididunt adipisicing do veniam cillum et mollit laboris cillum cupidatat proident minim velit. Occaecat id ex voluptate reprehenderit. Dolor adipisicing dolor aliqua exercitation ut in laboris anim est veniam consequat aliqua reprehenderit occaecat.
                                </p>
                            </div>
                            <h4 class="text-muted" style="float: left; color: #373833;">Skills Required</h4>
                            <br>
                        </div>
                    </div>
                    <div>
                        <button name="apply" class="form-control apply-button text-center mb-3" data-toggle="modal" data-target="#exampleModal">Apply</button>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>

    

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center" id="exampleModalLabel">Apply for this job</h3>
        </div>
        <div class="modal-body">
          <div class="row ">
              <div class="col-md-3 m-auto modal-col-1">
                  <div>
                <img src='../../vendors/img/2.jpg' class="default-job-img" alt="...">
                  </div>
                  <div>
                    <h5 class="title-job ">Design Mobile App UI</h5>
                    <h6>Posted by <a href="#" style="color: #0c4767;">Fiifi Gordon</a></h6>
                </div>

                <div>
                    <span style="color:#373833;"><i class="fa fa-map-marker" ></i>&nbsp;Takoradi, Accra</span>
                </div>
              </div>
              <div class="cold-md-9 m-auto">
                <div>
                    <h4>We value your interest in this job</h4>
                    <p>Tell the client why you are the best <br> candidate</p>
                </div>
                <div class="form-row">
                    <form>
                    <textarea placeholder= "Write your message here ..." class="form-control" name="modal-comment" id="modal-comment" cols="35" rows="4"></textarea>
                    </form>
                </div>
                <div class="mt-3 justify-content-around ">
                    <button type="button" class="form-control  close-button" data-dismiss="modal">Cancel</button>
                    <button type="button" class="form-control  send-button">Send Application</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>


























    




























</div>




<%include ../layout/footer-public.ejs %>