<% include ../layout/header-public.ejs %>
<% include ../layout/menu-public.ejs %>

<style>
    .job-background{
    background-color: #E8E8E8;
    padding-bottom: 800px; 
    padding-top: 80px 
}
h3{
    color: #0C4767;
}
</style>


<div class="job-background">
    <div class="container" style="width: fit-content; height: max-content;">
        <div class="row">
            <div class="col-md-12">
                <h3>Search jobs</h3>
            </div>
            <div class="col-md-3">
                <div class="card">
                    adsfa
                </div>
            </div>
            <div class="col-md-6">
             <div class="card">
                 adsf
             </div>
            </div>
            <div class="col-md-3">
               <div class="card">
                   asdfads
               </div>
            </div>
        </div>
    </div>
    
</div>




<%include ../layout/footer-public.ejs %>