

<div class="container-fluid">

    <div class="container">
       
    </div>


    <div class="input-group mb-3 mt-5">
        <input type="text" class="form-control" placeholder="Write a message" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn request-payment-button text-center" style="width: 70px;" id="basic-addon2">Send</button>
        </div>
    </div>

</div> 