<div class="card-header" style="border-bottom: 0px!important;">
    <form class="" action="/user/upload-jobfile" method="post" enctype = "multipart/form-data" style="float:right">
        <input type="text" id="SenderId" name="SenderId" class="form-control" value="<%=userId%>"  hidden>
        <input type="text" id="JobId" name="JobId" class="form-control" value="<%=job_details.id%>" hidden >
        <input type="text" id="JobAppId" name="JobAppId" class="form-control" value="<%=jobApplication_status.id%>" hidden >
        <p>Note: Only upload pdf and image files</p>
        <div class="input-group">
            <input type="file" id="jobfile" name="jobfile" class="form-control" accept="application/pdf,image/*" />
            <div class="input-group-append">
                <input type="submit" value="Upload" class="btn btn-success" id="btnupload" name="btnupload">
            </div>
        </div>

    </form>
</div>