
<footer  style="background-color: #354383" class="ps-footer fixed-footer">
    <div class="container">

        <div class="ps-footer__bottom">
            <figure>
                <ul  class="ps-footer__nav">
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Terms and Conditions</a></li>
                    <li><a href="#"> Help</a></li>
                    <li><a href="#"> Connect Licenses</a></li>
                    <li><a href="#"> Partners</a></li>
                </ul>
                <p>&copy; 2020 <a href="#">Connect</a> - All Rights Reserved. Made by <a href="#">Connect</a></p>
            </figure>
            <figure>

                <ul class="ps-list--social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </figure>
        </div>
    </div>
</footer>
</div>
<script src="/jscontroller/hideShow.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/main.js"></script>

<script src="/jscontroller/auth.js"></script>
<!-- DataTables -->

<!-- <script src="/plugins/datatables/jquery.dataTables.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script> -->
<script src="/jscontroller/jobtable.js"></script>



<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5ef9f58d4a7c6258179b8bbd/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

<script>
    $('.close').click(function(){
       $('#errorMessage').parent().fadeOut();
    })
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>
