

<div class="container-fluid fixed-top" >
    <div class="row">
        <div class="card-header-dash ">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Messages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Browse Jobs</a>
                  </li>
              </ul>
        </div>
    </div>
</div>