<header class="header header--2 dark page" data-sticky="true">
    <div class="header__left">
        <a class="ps-logo" href="/coming-soon"><img src="/vendors/img/logo-nav2.svg" width="200px" height="90px" alt="Connect Logo" ></a>

    </div>  
    <div class="header__right">
        <div class="header__center">
            <div class="dropdown">
                <a class="ps-logo"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img style="border-radius: 50%;" src="/vendors/img/avatar.jpg" width="50px" height="50px"  alt="Connect Logo">
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Get Support</a>
                  <a class="dropdown-item" href="#">User Settings</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <ul class="menu">
           
            <li class="menu-item-has-children"><a href="/login">SIGN IN</a><span class="sub-toggle"></span>
            <li class="menu-item-has-children"><a href="/signup-page">SIGN UP</a><span class="sub-toggle"></span>

            </li>

        </ul>
        <!--<div class="header__actions"><a class="ps-btn" href="/login">POST A JOB</a></div>-->
    </div>

    



</header>
<header class="header header--mobile" data-sticky="false">
    <div class="header__content">
        <div class="header__left"><a class="ps-toggle--sidebar" href="#navigation-mobile"><i class="fa fa-bars"></i></a>
        </div>
        <div class="header__center">
            <a class="ps-logo" href="#"><img src="/vendors/img/logo-nav2.svg" width="150px" height="70px" alt="Connect Logo"></a>
        </div>
        <div class="header__right">
            <div class="header__actions"><a class="ps-search-btn" href=""><i class="fa fa-search"></i></a></div>
        </div>
    </div>
</header>
<div class="ps-panel--sidebar" id="navigation-mobile">
    <div class="ps-panel__header">
        <h3>Menu</h3>
    </div>
    <div class="ps-panel__content">
        <ul class="menu--mobile">
            <li><a href="/">Freelancers</a></li>

        </ul>
    </div>
</div>
